<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PR2_1_2_Expert_Metro_Java/src/Metropolitan.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Metropolitan"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PR2_1_2_Expert_Metro_Java"/>
</launchConfiguration>
